body {
    background-color:rgb(28, 28, 28);
    margin: 0px;
    color: white;
    text-align: center;
}

/* Top Nav Bar */
.header{
    font-family: 'ddg-serp-icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: flex-end;
}
.header > div {
    padding: 2px;
    margin: 5px;
    background-color: red;
}
.horn:before {
    content: '\48';
}

.down:before {
    content: '\76';
}

h1{
    font-family: sans-serif;
    font-size: 30px;
}


.midsection {
    background-color: #58b792;
    justify-content: center;
    align-items: center;

}

.midsection-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
.largerfont {
    font-size: 50px;
    font-family: sans-serif;
    margin: 0px;
    width: 700px;
}

p{
    font-family: sans-serif;
}

/* Duck Duck Go Logo */
.logo {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.duckduck-icon {
    margin: 14px 0 40px;
}


/* Search Bar */
.search-container {
        background: #1c1c1c;
        display: flex;
        align-items: center;
        justify-content: center;
}
.search-bar {
    width: 60%;
    max-width: 700px;
    background: #333333;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0px 0px;
  }

  .search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px;
    font-size: 15px;
    color: #AAAAAA;
  }
  
  ::placeholder {
    color: #AAAAAA;
  }
  
  .search-bar button img {
    width: 22px;
  }
  
  
  .search-bar button {
    border: 0;
    border-radius: 0px 5px 5px 0px;
    width: 45px;
    height: 45px;
    background: transparent;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background: #444444;
  }
  /* Search Bar end */

.trustedtext {
    font-size: 12px;
    padding-bottom: 30px;
}
.privacy-nav {
    list-style-type: none;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.privacy-list-items{
    /* background: red; */
    margin: 10px 10px 10px 5px;;
    font-weight: 525px;
}

.privacy-list-items::before {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        content: "✔";
        color: white;
        display: inline-block;
        font-size: 15px;
        width: 1em;
        background: cornflowerblue;
        padding-left: 2px;
        border-radius: 50%;
        margin-right: 6px;
        
}

 button{
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  
}

.first-button {
    background-color:cornflowerblue;
}

.second-button {
    background-color: rgb(53, 109, 87);
}

.privacy-options
{
    height: 320px;
    padding-left: 75px;
    padding-right: 75px;
    /* background: plum; */
    /* border: 4px solid indigo; */
    display: flex;
    justify-content: space-around;
}

.privacy-options div {
  width: 300px;
  height: 250px;
  padding: 20px;
  border: 4px solid darkslategray;
  background: rgb(40, 40, 40);
  display: inline-block;
  border-radius: 12px;
}

.subheading {
    font-weight: 900;
}


